body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
}
header{
    background-color: #ffffff;
    text-align: center;
    height: 50px;
}
nav{
    margin-top: 3vh;
    float: left;
    text-align: center;
    margin-left: 10vw;
}
nav a{
    font-weight:bold;
    font-size: large;
    margin: 1em;
    color: black;
    vertical-align: center;
}
section{
    text-align: left;
    background-color: #ffffff;
    margin-top: 1vh;
    margin-left: 15vw;
    margin-right: 20vw;
}
h1{
    font-size: 30pt;
    text-align: center;
    margin-top: 0.5em;
    line-height: 1.5em;
    margin-right: 20vw;
}
h2{ 
    font-weight: normal;
    font-size:12pt;
    font-style: italic;
    text-align: center;
    line-height: 1.5em;
    margin-right:18vw ;
    margin-bottom: 2em;
}
form p{
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 8vw;
}
span.title{
    font-size: larger;
    font-weight: bolder;
    line-height: 1.5em;
}
span.tip{
    font-size: smaller;
    font-style: italic;
    line-height: 2em;
}
input{
    height: 30px;
    width: 300px;
    margin-top: 5px;
}
select{
    height: 30px;
    width: 200px;
    margin-top: 10px;
}
input[type="checkbox"] ,input[type="radio"] {
    margin: 10px;
    height: 15px;
    width: 15px;
}
textarea{
    margin-top: 2vh;
    background-color:whitesmoke;
    height: 20ch;
    width: 30vw;
}
figure#verificate{
    margin-left: 5vw;
    vertical-align: center;
}
input[name="verification"]{
    margin-left: 5vw;
    margin-top: 2vh;
    width: 100px;
    height: 25px;
}
input[type="submit"]{
    margin-bottom: 10vh;
    width: 80px;
    height: 40px;
    background-color: whitesmoke;
}


